html {
    font-family: 'Helvetia Neue', Helvetica, Arial, sans-serif;
}

.action {
    color: inherit;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 6px 8px;
}

.image-grid-container {
    display: flex;
    flex-wrap: wrap;
}

.image-grid-item {
    width: 200px;
    border: 1px solid hsla(0, 0%, 90%, 1.0);
    display: flex;
    align-items: center;
}

.image-grid-item img {
    width: 100%;
}
