html {
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: hsl(220, 80%, 50%);
}

a:hover {
    text-decoration: underline;
}

.navigate-back {
    display: block;
    margin-bottom: 1rem;
}

.action {
    color: inherit;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 6px 8px;
    background: none;
    font-size: inherit;
    margin: 0;
}

.image-grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -8px;
    margin-top: 16px;
    gap: 3px; /* only 82% support as of July 2021 */
}

.fullwidth {
    margin: -8px;
    margin-top: 8px;
    width: calc(100% + 16px);
}

.image-grid-item {
    display: flex;
    flex: 1 0 calc(50% - 2px);
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 640px) and (max-width: 959px) {
    .image-grid-item {
        flex: 1 0 calc(33% - 3px);
    }
}

@media screen and (min-width: 960px) and (max-width: 1439px) {
    .image-grid-item {
        flex: 1 0 calc(25% - 3px);
    }
}

@media screen and (min-width: 1440px) {
    .image-grid-item {
        flex: 1 0 calc(20% - 3px);
    }
}

.image-grid-item a {
    width: 100%;
    height: 100%;
}

.image-grid-item img {
    width: 100%;
}

a img {
    display: block;
}
