html {
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}



/* Navigation */

nav {
    background-color: hsl(20, 20%, 98%);
    box-shadow: inset 0 -1px 0px 0px rgba(0, 0, 0, 0.05);

    display: flex;
    font-size: 14px;
    padding: 0 0.5em;
}

.nav-logo-link {
    /* override ".nav-item a" selector because the icon is taller than the text links
     * and we don't want to grow the whole <nav> with vertical padding */
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    /* the :hover effect should be the height of the <nav>, not the height of the icon */
    height: 100%;

    /* center the icon vertically */
    display: flex;

    /* and don't stretch it */
    align-items: center;
}

.nav-logo {
    width: 20px;
}

.nav-item {
    display: flex;
    align-items: center;

    color: hsl(140, 0%, 20%);
    font-weight: 500;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    padding: 0.8em 0.6em;
}

.nav-item a:hover {
    background-color: hsl(140, 0%, 90%);
    text-decoration: none;
}



/* Content */

.container {
    margin: 8px;
}

a {
    text-decoration: none;
    color: hsl(220, 80%, 50%);
}

a:hover {
    text-decoration: underline;
}

.navigate-back {
    display: block;
    margin-bottom: 1rem;
}

.action {
    color: inherit;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 6px 8px;
    background: none;
    font-size: inherit;
    margin: 0;
}

.rotate-buttons {
    display: inline;
}

#delete-image-button {
    margin-top: 1rem;
}

.image-grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -8px;
    margin-top: 16px;
    gap: 3px; /* only 82% support as of July 2021 */
}

.fullwidth {
    margin: -8px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: calc(100% + 16px);
}

.image-grid-item {
    display: flex;
    flex: 1 0 calc(50% - 2px);
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 640px) and (max-width: 959px) {
    .image-grid-item {
        flex: 1 0 calc(33% - 3px);
    }
}

@media screen and (min-width: 960px) and (max-width: 1439px) {
    .image-grid-item {
        flex: 1 0 calc(25% - 3px);
    }
}

@media screen and (min-width: 1440px) {
    .image-grid-item {
        flex: 1 0 calc(20% - 3px);
    }
}

.image-grid-item a {
    width: 100%;
    height: 100%;
}

.image-grid-item img {
    width: 100%;
}

a img {
    display: block;
}
