html {
    font-family: -apple-system, 'Helvetia Neue', Helvetica, Arial, sans-serif;
}

.action {
    color: inherit;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 6px 8px;
    background: none;
    font-size: inherit;
    margin: 0;
}

.image-grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -8px;
    margin-top: 16px;
    gap: 3px; /* only 82% support as of July 2021 */
}

.image-grid-item {
    display: flex;
    flex: 1 0 calc(50% - 2px);
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 640px) {
    .image-grid-item {
        flex: 1 0 calc(33% - 2px);
    }
}

.image-grid-item a {
    width: 100%;
    height: 100%;
}

.image-grid-item img {
    width: 100%;
}

a img {
    display: block;
}
