<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ruoka.club</title>
    <link rel="icon" href="{{ url_for('static', filename='icon-transparent.png') }}" sizes="any">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon-background.png') }}">
</head>
<body>
    {% macro nav_item(text, link) -%}
        <div class="nav-item"><a href="{{ link }}">{{ text }}</a></div>
    {%- endmacro %}

    <nav>
        {{ nav_item('Images', url_for('view_frontpage')) }}
        {{ nav_item('Settings', url_for('user')) }}
    </nav>

    <div class="container">
    {% block content %}
        hello
    {% endblock %}
    </div>
</body>
</html>
