{% extends 'base.html' %}

{% block content %}



{# Upload button #}

{% if user == None %}
<a href="/me" class="action">Set user to upload images</a>
{% else %}

<button class="action" onclick="document.getElementById('selected-file').click()">Upload an image</button>

<form style="display: none" method="post" enctype="multipart/form-data">
    <input type="file" id="selected-file" name="image" accept=".jpg, .jpeg, .png" onchange="this.form.submit()">
</form>

{% endif %}



{# Image grid #}

<ul class="image-grid-container">

{% for image in images %}
<li class="image-grid-item"><a href="{{ url_for('image_info', image_id=image.id) }}"><img src="{{ image.url }}"></a></li>
{% endfor %}

</ul>



{% endblock %}
