{% extends 'base.html' %}

{% block content %}



{# Upload button #}

{% if get_user() == None %}
<a href="/me" class="action">Set user to upload images</a>
{% else %}

<button class="action" onclick="document.getElementById('selected-file').click()">Upload an image</button>

<form style="display: none" method="post" enctype="multipart/form-data" action="{{ url_for('handle_upload') }}">
    <input type="file" id="selected-file" name="image" accept=".jpg, .jpeg, .png" onchange="this.form.submit()">
</form>

{% endif %}



{# Image grid #}
{% include 'components/image_grid.html' %}

{% endblock %}
