{% extends 'base.html' %}

{% block content %}

Image ID: {{ image.id }}
<br>
User: <a href="{{ url_for('profile', username=image.user.username) }}">{{ image.user.username }}</a>
<img class="fullwidth" src="{{ image.url }}">

{% if image.user == get_user() %}
<script>
let checkDeletion = (event) => {
    let answer = prompt("Are you sure you want to delete this image? This action cannot be undone. Please type \"delete\" to confirm.")
    if (answer !== 'delete') {
        event.preventDefault()
    }
}
</script>
<form action="/rotate-image-clockwise" method="post" class="rotate-buttons">
    <input type="hidden" name="image-id" value="{{ image.id }}">
    <button name="rotate-clockwise-button">Rotate ↷</button>
</form>
<form action="/rotate-image-counterclockwise" method="post" class="rotate-buttons">
    <input type="hidden" name="image-id" value="{{ image.id }}">
    <button name="rotate-counterclockwise-button">Rotate ↶</button>
</form>
<form action="/delete-image" method="post" onsubmit="return checkDeletion(event)">
    <input type="hidden" name="image-id" value="{{ image.id }}">
    <button name="delete-button" value="true" id="delete-image-button">Delete this image</button>
</form>
{% endif %}

{% endblock %}
