{% extends 'base.html' %}

{% block content %}

Image ID: {{ image.id }}
<br>
User: <a href="{{ url_for('profile', username=image.user.username) }}">{{ image.user.username }}</a>
<img class="fullwidth" src="{{ image.url }}">

{% if image.user == get_user() %}
<script>
let delete_image = () => {
    let answer = prompt("Are you sure you want to delete this image? Please type \"delete\" to confirm.")
    if (answer === 'delete') {
        alert('deleting is not yet implemented')
    }
}
</script>
<button onclick="delete_image()">Delete this image</button>
{% endif %}

{% endblock %}
